@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  /* Colors */
  --color-primary: #FF6B00;
  --color-secondary: #F2F2F2;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Fonts */
  --font-family-main: 'IBM Plex Sans Arabic', sans-serif;

  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;

  /* Margins */
  --header-margin: 20px 30px;
  --container-margin: 100px;
}
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: var(--font-family-main) !important;
  color: var(--color-black);
}

header {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
  z-index: 1;
}
header .image-absolute {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--color-primary);
  right: 0;
  top: 0;
  z-index: -1;
}
header .image-absolute img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav ul li {
  margin: 0 10px !important;
}
.nav ul li img {
  margin-right: 10px;
  width: 30px;
}
.nav ul li a{
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all 0.3s ease;
}
.nav ul li a.active {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.nav ul li a:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.contact {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 25px;
  transition: all 0.3s ease;
}
.contact:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.logo-name {
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-name img {
  margin-left: -2px;
}
.content {
  padding: 50px 0px;

}
.content h1 {
  position: relative;
  padding: 0px 30px;
  line-height: 1.5;
  font-size: 50px;
  font-weight: var(--font-weight-light);
  margin-bottom: 20px;
}
.content span {
  font-weight: var(--font-weight-bold);
}
.text-rotated {
  position : absolute;
  width: 200px;
  top: 80px;
  right: -75px;
  transform: rotate(90deg);
  font-weight: var(--font-weight-light);
  font-size: 18px;
}

/*   Mession Styling */
.mession {
  background-color: var(--color-black);
  padding: 50px 0px;
}
.info_card {
  position: relative;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.info_card img {
  position: absolute;
  top: 10px;
  right: -115px;
  width: 170px;
}
.info_card li {
  margin:0 0 0 20px !important;
  font-size:  24px;
  font-weight: var(--font-weight-light);
  position: relative;
  padding-left: 20px;
}
.info_card li::before {
  content: '•'; /* You can use a Unicode character or a custom shape */
  color: var(--color-black);
  font-size: 24px; /* Control the size */
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.text-orange {
  color: #FF6B00;
}
.border-accent {
  border-right: 20px solid #FF6B00;
}
.border-accent p{
  font-weight:  var(--font-weight-light);
}
.border-accent p span{
  font-weight:  var(--font-weight-bold);
}
.fs-larger {
  font-size: 48px;
}
.solution_content img{
  padding-bottom: 10px;
  position: relative;
  bottom: 10px;
  right: 10px;
  width: 200px;
}

.why{
  border-top: 1px solid var(--color-secondary);
}
.border_line {
  margin: 50px 40px;
}
.border_line p {
  font-weight: var(--font-weight-light);
}
.border_line p span {
  font-weight: var(--font-weight-bold);
}